<h1 class="text-center">User Entries</h1>
<table class="table table-responsive table-striped">
  <tr>
  <th>firstname</th>
  <th>lastname</th>
  <th>email</th>
  <th>password</th>
  <th></th>

  </tr>
  <tr *ngFor="let items of mydata">
      <td>{{items.firstName}}</td>
      <td>{{items.lastName}}</td>
      <td>{{items.email}}</td>
      <td>{{items.password}}</td>
      <td><button type="button" (click)="onClick(items)" [id]="items" >Delete</button></td>
      </tr>
</table>

<!-- 
<div *ngIf="formOpen" class="container">
    <form class="jumbotron form-signin col-sm-12">
        <div class="form-group col-sm-4 col-sm-offset-4">
            <div class="input-group center-block">
              <input type="text" class="form-control " placeholder="First name" name="firstname" [(ngModel)]="input.firstname" required autofocus>
              <input type="text" class="form-control " placeholder="Last name" name="lastname" [(ngModel)]="input.lastname" required autofocus>
              <input type="email" class="form-control " placeholder="E-mail" name="email" [(ngModel)]="input.email" required autofocus>
              <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="input.password" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="getData()" >Update Record</button>
      </div>
        </div>
      </form>

</div> -->