<div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-user logo-small"></span>
        <h4>RESERVATION</h4>
        <p>Make a car reservation..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-home logo-small"></span>
        <h4>PICK & DROP</h4>
        <p>Pick and drop anywhere you want..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-list-alt logo-small"></span>
        <h4>COLLECTION OF VEHICLES</h4>
        <p>View our fleet of vehicles..</p>
      </div>
    </div>
    
    <br><br>
    
    <div class="row slideanim">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-phone logo-small"></span>
          <h4>CUSTOMER SUPPORT</h4>
          <p>Building Strong relationship between customers..</p>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-heart logo-small"></span>
          <h4>INSPECTION</h4>
          <p>we inspect your car at your home..</p>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-cloud logo-small"></span>
          <h4>WIDELY SPREAD BUSSINESS </h4>
          <p>Our franchises spread in whole country..</p>
        </div>
      </div>
  
      <br><br>
      
    <div class="row slideanim">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4>MAINTENANCE</h4>
        <p>Provide end to end maitenance across all industries..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <h4>CERTIFIED</h4>
        <p>We provide certified cars..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <h4 style="color:#303030;">HARD WORK</h4>
        <p>Hard working team to facilitate you..</p>
      </div>
    </div>
  </div>
  