<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <a routerLink="/dash/buycar">
        <img src="../assets/images/3.jpg" width="500px" height="350px" 
        class="img-rounded img-responsive">
      </a>  
      <p class="text-center txt">Buy Car Entries</p>
    </div>
  <div class="col-lg-4">
      <a routerLink="/dash/rentcar">
        <img src="../assets/images/2.jpg" width="500px" height="350px" 
        class="img-rounded img-responsive">
      </a>  
      <p class="text-center txt">Rent Car Entries</p>  
  </div>
  <div class="col-lg-4">
      <a routerLink="/dash/sellcarentry">
        <img src="../assets/images/4.jpg" width="500px" height="350px" 
        class="img-rounded img-responsive">
      </a>  
      <p class="text-center txt">Sell Car Entries</p>  
  </div>
  </div>
  <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
          <a routerLink="/dash/userentry">
            <img src="../assets/images/1.jpg" width="500px" height="350px" 
            class="img-responsive img-rounded">
          </a>  
          <p class="text-center txt">All Users Entries</p>  
      </div>
      <div class="col-lg-4"></div>

  </div>
</div>